mixin link($href, $name)
    a(href=$href)&attributes(attributes)= $name

mixin picture($src, $alt, $breakpoint, $srcset)
    picture&attributes(attributes)= name
        source(media=`(max-width: ${$breakpoint} )`, srcset=$srcset)
        img(src=$src, alt=$alt)

mixin inputType($type, $class, $placeholder)
    input(type=$type, class=$class, placeholder=$placeholder)

mixin navBar($name, $nametitle, $namelv2)
    li.page__nav-item.jsActionExpand
        a(href="http://" class="page__nav-link")= $name
        .page__nav-icon.hide-show
            span.back All
            i.icon-chevron-down
        .page__nav-dropdown
            ul.page__nav-lv1
                li.page__nav-lv1--item
                    -for( var i = 0; i < 4; i++ )
                        ul.page__nav-lv2
                            li.page__nav-lv2--title= $nametitle
                                li.page__nav-lv2--item
                                    a(href="http://" class="")= $namelv2

mixin banner($number, $src, $srcset, $title, $sub)
    section.section__page.section__banner(class=`section${$number}`)
        .container
            .section__page-inner
                a(href="http://")
                    +picture($src, "Banner", "768px",$srcset)(class="section__page-picture")
                p.section__page-heading.heading-title= $title
                p.section__page-sub.sub-title= $sub
                .block__btn
                    a.btn.btn-buy Mua ngay


mixin moduleProduct($src, $srcset, $title, $sub)
    .module-product
        +picture($src, "Banner", "768px",$srcset)(class="section__page-picture")
        p.section__page-heading.heading-title= $title
        p.section__page-sub.sub-title= $sub
        .block__btn
                    a.btn.btn-buy Mua ngay


mixin breadcumb($list)
    .topbop__breadcumb
        .container
            ol.breadcumb
                each item in $list   
                    li.breadcumb--item
                        a(href='#')= item

mixin saleSlide($numberSlide = 4)
     .topbop__saleSlide
      .topbop__saleSlide--inner 
        .swiper.sale-swiper
          .swiper-wrapper   
            -for( let i = 0; i < $numberSlide; i++)
              .swiper-slide.sale__slide
                a(href='#')
                  p.sale__slide--head SALE UP TO 50%
                  p.sale__slide--markdown Shop All Our New Markdowns
          .swiper-button-prev.slide-btn.non-border.non-hover 
            i.icon-chevron-downp-left

          .swiper-button-next.slide-btn.non-border.non-hover
            i.icon-chevron-down 

mixin otherProduct($number = 3) 
    .topbop__otherProduct 
        .container
            .topbop__otherProduct--head SẢN PHẨM KHÁC CỦA BOMBERG
            .topbop__otherProduct--inner
                -for(let i = 0; i < $number; i++)
                    .topbop__otherProduct--item 
                        .topbop__otherProduct--image
                            picture
                                img(src="/images/branding/otherProduct-image.png", alt="")    
                            .topbop__otherProduct--content 
                                p DÂY CHUYỀN 
                                a(href="#").btn.btn-white XEM THÊM 