mixin link($href, $name)
    a(href=$href)&attributes(attributes)= $name

mixin pictrue($src, $alt, $breakpoint, $srcset)
    picture
        source(media=`(max-width: ${$breakpoint} )`, srcset=$srcset)
        img(src=$src, alt=$alt)

mixin inputType($type, $class, $placeholder)
    input(type=$type, class=$class, placeholder=$placeholder)

mixin list($name)
    ul.page__nav-list
        li.page__nav-item
            a= $name