mixin link($href, $name)
    a(href=$href)&attributes(attributes)= $name

mixin pictrue($src, $alt, $breakpoint, $srcset)
    picture
        source(media=`(max-width: ${$breakpoint} )`, srcset=$srcset)
        img(src=$src, alt=$alt)

mixin inputType($type, $class, $placeholder)
    input(type=$type, class=$class, placeholder=$placeholder)

mixin navBar($name, $nametitle, $namelv2)
    li.page__nav-item.jsActionExpand
        a(href="http://" class="page__nav-link")= $name
        .page__nav-icon.hide-show
            span.back All
            i.icon-chevron-down
        .page__nav-dropdown
            ul.page__nav-lv1
                li.page__nav-lv1--item
                    -for( var i = 0; i < 4; i++ )
                        ul.page__nav-lv2
                            li.page__nav-lv2--title= $nametitle
                                li.page__nav-lv2--item
                                    a(href="http://" class="")= $namelv2