mixin link($href, $name)
    a(href=$href)&attributes(attributes)= $name

mixin pictrue($src, $alt, $breakpoint, $srcset)
    picture
        source(media=`(max-width: ${$breakpoint} )`, srcset=$srcset)
        img(src=$src, alt=$alt)

mixin inputType($type, $class, $placeholder)
    input(type=$type, class=$class, placeholder=$placeholder)

mixin navBar($name, $nametitle, $namelv2)
    ul.page__nav-list
        li.page__nav-item
            a(href="http://")= $name
            ul.page__nav-lv1
                .page__nav-lv1-title= $nametitle
                li.page__nav-lv1--item
                    ul.page__nav-lv2
                        li.page__nav-lv2--item
                            a(href="http://")= $namelv2



