.topbop__aboutus {
  background: #e5e5e5;
  &--heading {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #000;
    padding-bottom: 2.4rem;
    @media (max-width: 992px) {
      font-size: 2.8rem;
      line-height: 3.6rem;
      padding-bottom: 3.8rem;
    }
  }
  &--desc {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    color: #000;
    max-width: 864px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
    @media (max-width: 992px) {
      font-size: 1.4rem;
      line-height: 1.9rem;
      padding-bottom: 3.8rem;
    }
  }
  &--banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  &--history {
    position: relative;
    display: flex;
    background: #fff;
    justify-content: center;
    margin-top: -8rem;
    margin-bottom: 4.8rem;
    max-width: 108.8rem;
    margin-right: auto;
    margin-left: auto;

    border-top: 0.5rem solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    .swiper-pagination {
      display: none;
      height: 4px;
      .swiper-pagination-progressbar {
        background: rgba(0, 0, 0, 0.5);
      }
      .swiper-pagination-progressbar-fill {
        background-color: #fff;
      }
    }
    @media (max-width: 992px) {
      border-width: 0.4rem;
      margin-bottom: 3.8rem;
      margin-right: 1.6rem;
      margin-left: 1.6rem;
      border-top: none;
      .swiper-pagination {
        display: block;
      }
    }
    .history__item {
      flex-basis: 364px;
      max-width: 364px;
      padding: 2.7rem 3.5rem 4.4rem 1.6rem;
      @include breakpoints("md") {
        flex-basis: 100%;
        max-width: 100%;
        padding: 2.4rem 1.6rem 3.9rem;
      }
      &--date {
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-bottom: 2rem;
        @include breakpoints("md") {
          margin-bottom: 1.6rem;
          font-size: 1.4rem;
          line-height: 1.9rem;
        }
      }
      &--desc {
        font-size: 1.6rem;
        line-height: 2.2rem;
        @include breakpoints("md") {
          font-size: 1.4rem;
          line-height: 1.9rem;
        }
      }
    }
  }
  &--article {
    padding: 0 11rem 5.2rem;
    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .aboutus__item {
      flex-basis: calc((100% / 3) - 1.4rem);
      margin-bottom: 4.8rem;
      &--text {
        font-size: 1.6rem;
        line-height: 2.2rem;
        letter-spacing: 0.0016em;
        margin-top: 2rem;
        text-align: left;
      }
    }
    h3 {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.2rem;
      text-align: center;
      padding-bottom: 2.4rem;
    }
    @media (max-width: 992px) {
      padding: 0;
      h3 {
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding-bottom: 3.8rem;
      }
      .aboutus__item {
        &--text {
          margin-top: 1.6rem;
        }
      }
    }
    @media (max-width: 768px) {
      .inner {
        flex-flow: column;
        align-items: center;
      }
      .aboutus__item {
        flex-basis: 100%;
      }
    }
  }
}
