extends templates/_layout.pug

block content
  main.topbop__wrapper
    .topbop__detail
      +saleSlide
      .topbop__detail--product
        .container

          .topbop__detail--inner
            .topbop__detail--left
              .topbop__detail--slide.swiper.detail-swiper
                .swiper-wrapper
                  -for(let i = 0; i < 6; i++)
                    .swiper-slide
                      picture
                        source(media="(max-width:992px )" srcset="images/detail/detail-product-mb.png")
                        img(src="images/detail/detail-product.png" alt="" srcset="")
                .swiper-pagination
              .gallery__thumb.none-block
                .swiper.thumb-detail
                  .swiper-wrapper
                    -for(let i = 0; i < 6; i++)
                      .swiper-slide
                        .thumb__img
                          picture
                            img(src="images/detail/detail-product-mb.png" alt="")
            .topbop__detail--right
              //- .topbop__detail--summaryMb.none-block test

              .detail--right__wrapper
                +breadcumb(['Trang chủ','Bomberg','Multimatic Diamond Silver 03A'],false)
                .topbop__detail--heading Bomberg Multimatic Diamond Silver 03A
                .topbop__detail--infomation
                  p.desc__model Loại: Nam
                  p.desc__numberProduct Mã Sản Phẩm: 900081

                .topbop__detail--price
                  .price__block
                    p.main-price 37,746,000VNĐ
                    p.discount-price 41,940,000VNĐ
                  .discount__percent.block-none 25% Off

                .topbop__detail--option.block-none
                  .option__head Size
                  .option__group
                    span.option__button 42 mm

                .topbop__detail--promotion
                  .promotion__inner
                    .promotion__head
                      h3 Khuyến mãi trị giá 500.000đ
                      p Giá và khuyến mãi dự kiến áp dụng đến 23:00 28/02
                    .promotion__body
                      .promotion__item Chọn 1 trong các khuyến mãi:
                        .promotion__item--option
                          .radio
                            label(for="ex1")
                              input(type="radio" name="" id="ex1")
                              span.radio-text Giảm giá 500,000đ

                          .radio
                            label(for="ex2")
                              input(type="radio" name="" id="ex2")
                              span.radio-text Phiếu mua hàng 1000,000đ
                      .promotion__item Giảm giá 50% gói bảo hành mở rộng thêm 1 năm (chính hãng)
                      .promotion__item Giảm đến 1,500,000đ khi tham gia thu cũ đổi mới (Không áp dụng kèm giảm giá qua VNPay, Moca)

                .topbop__detail--button
                  a(href="#").btn.w-100 THÊM VÀO GIỎ HÀNG
                  a(href="#").btn.btn-white.btn--half THANH TOÁN COD
                  a(href="#").btn.btn-white.btn--half TRẢ GÓP 0%
                  a(href="#").btn.btn-white.w-100 YÊU THÍCH

                .topbop__detail--description
                  h2 MÔ TẢ SẢN PHẨM
                  -for(let i= 0; i < 3; i++)
                    .detail--description__item
                      h4 Mặt sau đồng hồ
                      p.js-more Mặt sau của đồng hồ Capital với cửa sổ bằng sapphire trong suốt. Bộ chuyển động và rôto được trau chuốt đẹp mắt là duy nhất trong loại giá này Mặt sau đồng hồ Mặt sau của đồng hồ Capital với cửa sổ bằng sapphire trong suốt. Bộ chuyển động và rôto được trau chuốt đẹp mắt là duy nhất trong loại giá này

          .topbop__detail--body
            .topbop__detail--benefit.row
              .col-3.col-md-12
                .benefit__item
                  .benefit__item--image
                    picture
                      img(src="images/detail/insurance.svg" alt="")
                  .benefit__item--text
                    h4 BẢO HÀNH 5 NĂM
                    p Các gói bảo hành ưu Việt

              .col-3.col-md-12
                .benefit__item
                  .benefit__item--image
                    picture
                      img(src="images/detail/service.svg" alt="")
                  .benefit__item--text
                    h4 ĐỒNG HỒ CHÍNH HÃNG
                    p 100% sản xuất tại Thụy Sỹ

              .col-3.col-md-12
                .benefit__item
                  .benefit__item--image
                    picture
                      img(src="images/detail/gift.svg" alt="")
                  .benefit__item--text
                    h4 ĐÓNG GÓI CAO CẤP
                    p Bao bì đóng gói cao cấp chính hãng

              .col-3.col-md-12
                .benefit__item
                  .benefit__item--image
                    picture
                      img(src="images/detail/delivery.svg" alt="")
                  .benefit__item--text
                    h4 GIAO HÀNG MIỄN PHÍ
                    p Giao hàng miễn phí 100% trên toàn quốc

            .topbop__detail--policy
              .policy__menu
                ul
                  li.js-tab.active(data-tab="chi-tiet-san-pham") CHI TIẾT SẢN PHẨM
                  li.js-tab(data-tab="chinh-sach-uu-dai") CHÍNH SÁCH ƯU ĐÃI
                  li.js-tab(data-tab='chinh-sach-bao-hanh') CHÍNH SÁCH BẢO HÀNH
                  li.js-tab(data-tab='danh-gia') ĐÁNH GIÁ (20)

              .policy__body
                .policy--card(id="chi-tiet-san-pham")
                  .card__inner
                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 1
                        img(src="images/detail/icon-surface.svg" alt="" class='block-none')
                        span Kích thước mặt
                      .policy__item--text
                        p 42.5mm

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 2
                        img(src="images/detail/icon-backface.svg" alt="" class='block-none')
                        span Nắp lưng
                      .policy__item--text
                        p Trong suốt

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 3
                        img(src="images/detail/icon-thickness.svg" alt="" class='block-none')
                        span Độ dày vỏ
                      .policy__item--text
                        p 14mm

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 4
                        img(src="images/detail/icon-engine-model.svg" alt="" class='block-none')
                        span Bộ máy
                      .policy__item--text
                        p Miyota 9100

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 5
                        img(src="images/detail/icon-engine.svg" alt="" class='block-none')
                        span Bộ máy
                      .policy__item--text
                        p Máy cơ

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 6
                        img(src="images/detail/icon-glass-material.svg" alt="" class='block-none')
                        span Chất liệu mặt kính
                      .policy__item--text
                        p Kính Sapphire

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 7
                        img(src="images/detail/icon-thicker-color.svg" alt="" class='block-none')
                        span Màu sắc vỏ
                      .policy__item--text
                        p Bạc

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 8
                        img(src="images/detail/icon-vanh.svg" alt="" class='block-none')
                        span Chất liệu vành đồng hồ
                      .policy__item--text
                        p Thép không gỉ

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 9
                        img(src="images/detail/icon-strap.svg" alt="" class='block-none')
                        span Dây đeo
                      .policy__item--text
                        p Da bê cao cấp

                    .policy__item
                      .policy__item--title
                        .number-icon.none-inline-flex 10
                        img(src="images/detail/icon-feature.svg" alt="" class='block-none')
                        span Chức năng
                      .policy__item--text
                        p Giờ, phút, giây, chỉ số dự trữ năng lượng, ngày, tháng

                .policy--card(id="chinh-sach-uu-dai")
                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 1
                      span Giảm giá
                    .policy__item--text
                      p 1.000.000VNĐ


                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 2
                      span Gói dịch vụ
                    .policy__item--text
                      p Ưu tiên cao cấp và phòng chờ

                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 3
                      span Trả góp
                    .policy__item--text
                      p 0% qua thẻ tín dụng

                .policy--card(id="chinh-sach-bao-hanh")
                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 1
                      span Được hưởng 2 chế độ bảo hành
                    .policy__item--text
                      p Chế độ bảo hành chính hãng kết hợp.
                      p Chế độ bảo hành toàn diện của Topbop với tổng thời gian bảo hành lên đến 5 năm.


                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 2
                      span Miễn phí thay pin trọn đời

                  .policy__item.full-w
                    .policy__item--title
                      .number-icon 3
                      span Miễn phí vệ sinh sản phẩm trọn đời.

                .policy--card(id="danh-gia")
                  .comment__btn
                    a(href='#').btn-compliment Viết Đánh Giá

                  .comment__wrapper
                    -for(let i = 0; i < 2; i++)
                      .comment__item
                        .comment__item-title Supportive yet fun
                        .comment__item-rating
                          .rating-star
                            -for(let i = 0 ; i < 5 ; i++)
                              .star__item
                                picture
                                  img(src="images/detail/rating-star.svg", alt="")
                          .rating-infomation Nguyễn Văn A - 10/08/2021

                        .comment__item-description My wife has a few running shoes and these ones are one of her favorites. Very comfortable and the colors are eye popping.
                        .comment__item-image
                          -for(let i = 0; i < 3; i ++)
                            .compliment__img
                              picture
                                img(src="images/detail/image-comment.png", alt="")

    .topbop__detail--slideProduct
            +slideProduct('KHÁM PHÁ THÊM')
block script
  script(src="/js/function.js")
