extends templates/_layout.pug 


block content 

  main.topbop__wrapper 
    +saleSlide(4)

    .topbop__pageProduct 
      .topbop__pageProduct--banner
        picture 
          img(src="/images/banner/banner-pageProduct.png", alt="", srcset="")
      
      +breadcumb(['Trang chủ','Thương hiệu','Bomberg'])
block script 
  script(src="/js/function.js") 