extends templates/_layout.pug

block content
  main.topbop__wrapper
    .container
      .topbop__profile--top
        .topbop__profile--icon
        .topbop__profile--name
          h2 Ly Le
          p Thành viên Top Bop

      .topbop__profile--benefit
        .topbop__swiper.swiper.benefit__swiper
          .topbop__swiper--top
            p.topbop__swiper--heading LỢI ÍCH THÀNH VIÊN
            .group-button-director
              .swiper-button-next.slide-btn 
                i.icon-chevron-downp-left

              .swiper-button-prev.slide-btn
                i.icon-chevron-down
          .swiper-wrapper 
            -for( var i = 0; i < 7; i++ )
              .swiper-slide
                .slide-image
                  picture
                    img(src="/images/benefit-image.png")
                .slide-text
                  p Giảm 10% với thành viên Top Bop

block script
  script(src="js/function.js") 