extends templates/_layout.pug

block content
  main.topbop__wrapper
    .container
      .topbop__profile--top
        .topbop__profile--icon
          img(src="images/icons/bxs_user.svg" alt="" srcset="")
        .topbop__profile--name
          h2 Ly Le
          p Thành viên Top Bop

      .topbop__profile--benefit
        .topbop__swiper.swiper.benefit__swiper
          .topbop__swiper--top
            p.topbop__swiper--heading LỢI ÍCH THÀNH VIÊN
            .group-button-director.block-none
              .swiper-button-prev.slide-btn
                i.icon-chevron-downp-left

              .swiper-button-next.slide-btn
                i.icon-chevron-down
          .swiper-wrapper
            -for( var i = 0; i < 7; i++ )
              .swiper-slide.topbop__slide
                a(href="#")
                  .slide__image
                      picture
                        img(src="images/slide-image/benefit-image.png")
                  .slide__text
                    div.slide__text--heading Giảm 10% với thành viên Top Bop

      .topbop__profile--dicovery
        .topbop__swiper.swiper.product__swiper
          .topbop__swiper--top
            p.topbop__swiper--heading KHÁM PHÁ THÊM
            .group-button-director
              .swiper-button-prev.slide-btn
                i.icon-chevron-downp-left

              .swiper-button-next.slide-btn
                i.icon-chevron-down
          .swiper-wrapper
            -for( var i = 0; i < 7; i++ )
              .swiper-slide.topbop__slide
                .slide__image
                  a(href="#")
                    picture
                      img(src="images/slide-image/watch-slide.png")
                .slide__text
                  .slide__text--heading WALDHOFF
                    span.slide__text--saleoff 25% Off
                  .slide__text--desc BB-01 Automatic Mariachi Skull CT43ASPGD.24-1.11
                  .slide__text--price
                    p.price-content.main 37,746,000VNĐ
                    p.price-content.discount 41,940,000VNĐ
block script
  script(src="js/function.js")