extends templates/_layout.pug

block content
  main.topbop__wrapper
    .container
      .topbop__profile--top
        .topbop__profile--icon
        .topbop__profile--name
          h2 Ly Le
          p Thành viên Top Bop