$padding-y: 1.1rem;
$padding-x: 2.4rem;

$background-btn: $black;
$background-white: $white;
$background-hover: linear-gradient(0deg, #919191, #919191), #0c2641;

$color: $white;
$color-black: $black;
$font-size: 1.4rem;

.btn {
    $this: &;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: $padding-y $padding-x;
    background: $background-btn;
    color: $color;

    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    border: none;
    span {
        font: $font-size/1.8rem 700;
    }

    @media (min-width: 768px) {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        &:hover {
            background: $background-hover;
        }
    }

    &-white {
        background: $background-white;
        color: $color-black;
        border: 1px solid #ccc;
    }
}
