.card-head {
    background: #161616;
    padding: 2.2rem 2.4rem;
    * {
        color: $white;
    }
    p {
        @include fontSize(700, 1.8rem, 2rem);
    }
}
.section-page-row{
    .col-left{
        max-width: 87.9rem;
        flex: 0 0 87.9rem;
    }
}
.cart-form{
    padding: 3.2rem 2.4rem 0;
    .label-form{
        @include fontSize(700, 1.6rem, 1.8rem);
    }
    .block-form{
        &:not(:last-child){
            margin-bottom: 2.4rem;
        }
    }
}