.mansory-line{
    display: flex;
    align-items: center;
    &-item{
        max-width: 30.5rem;
        &:not(:last-child){
            margin-right: 1.6rem;
        }
    }
    &-top{
        margin-bottom: 1.6rem;
    }
    @include breakpoints('sm'){
        &-item{
            max-width: 50%;
            flex-basis: 50%;
            margin-bottom: .5rem;
            margin-right: 0 !important;
            padding: 0 .25rem;
            &:nth-child(2n){
                margin-right: 0;
            }
            img{
                width: 100%;
            }
        }
    }
}
.mansory-line-bot{
    .mansory-line{
        display: flex;
        align-items: center;
        &-item{
            &:first-child{
                max-width: 62.6rem;
                width: 100%;
                margin-right: 1.6rem;
            }
        }
        &-col{
            display: block;
            &:not(:last-child){
                margin-bottom: 1.6rem;
            }
        }
    }
}
.mansory-layout{
    display: block;
    &-mb{
        display: none;
    }
    @include breakpoints('sm'){
        display: none;
        &-mb{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -.5rem;
        }
    }
}

.desktop{
    @extend .block;
    @include breakpoints('md'){
        @extend .hidden-mobile;
    }
}

.mobile{
    @extend .hide;
    @include breakpoints('md'){
        @extend .show-mb;
    }
}
