include ../mixins/utils

header.page__header
    .container
        .page__header-top

            .page__header-left.page__header--col
                a(href="/", class="page__header-logo")
                    +pictrue('images/logo/logo.png',"Logo","992px",'images/logo/logo-mb.png')

            .page__header-right.page__header--col
                .page__header-right--item.form-search
                    .form-group
                        +inputType("text","form-input form-input-search","Tìm kiếm")
                        button.btn.btn-form-search.icon-search(type='submit')
                            img(src="images/icons/ic-search.svg", alt="Search")

                .page__header-right--item.list__social
                    ul
                        each val in ['icon-heart.svg','shopping-bag.svg','phone.svg']
                            li.social-item
                                a(href="")
                                    img(src=`images/icons/${val}`, alt="alt")

                .page__header-right--item.form__user
                    .form__regist.form__user-item
                        a.txt-uppercase.f-w-700 ĐĂNG KÝ
                    span.line-vertical
                    .form__login.form__user-item
                        a.txt-uppercase.f-w-700 Đăng nhập
                button.open-main-nav#burger
                    span.burger

        .page__header-nav.nav-mobile
            .page__header-nav--mobile

            - var navJson = ["Đồng hồ nam","ĐỒNG HỒ NỮ","PHỤ KIỆN","VÒNG ĐEO","SALE"]
            ul.page__nav-list
                each val in navJson
                    +navBar(val, "Thương hiệu nổi tiếng", "Tonino Lamborghini")