include ../mixins/utils

header.page__header
    .container
        .page__header-top
            .page__header-left
                a(href="/", class="page__header-logo")
                    +pictrue('images/logo/logo.png',"Logo","992px",'images/logo/logomb.png')

            .page__header-right
        .page__header-nav
