$breakpoint:(
  'xxs': 359px,
  'xs': 576px, //X-Small devices (portrait phones, less than 576px)
  'sm': 768px, // Small devices (landscape phones, less than 768px)
  'md': 992px, // Medium devices (tablets, less than 992px)
  'lg': 1200px, // Large devices (desktops, less than 1200px)
  'xl': 1400px // X-Large devices (large desktops, less than 1400px)
) !default;
@mixin breakpoints($breakpoints) {
    @debug $breakpoints;
  @if map-has-key($breakpoint, $breakpoints) {
    @media (max-width: map-get($breakpoint, $breakpoints)) {
      @content;
    }
  }
}
.block{display: block}
.hide{display: none}
@include breakpoints('md'){
  .hidden-mobile{
    display: none !important;
  }
  .show-mb{
    display: block;
  }
}

.show-hide{
  @extend .block;
  @include breakpoints('md'){
    @extend .hidden-mobile;
  }
}
.hide-show{
  @extend .hide;
  @include breakpoints('md'){
    @extend .show-mb;
  }
}
