@mixin fontSize($fw, $fs, $lh){
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.eot");
  src: url("../fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.eot");
  src: url("../fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff"),
    url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.eot");
  src: url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff"),
    url("../fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.eot");
  src: url("../fonts/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff"),
    url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.eot");
  src: url("../fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"),
    url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.eot");
  src: url("../fonts/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"),
    url("../fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"),
    url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?5mv6j9");
  src: url("../fonts/icons/icomoon.eot?5mv6j9#iefix") format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?5mv6j9") format("truetype"),
    url("../fonts/icons/icomoon.woff?5mv6j9") format("woff"),
    url("../fonts/icons/icomoon.svg?5mv6j9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart1:before {
  content: "\e91a";
  color: #718198;
}
.icon-arrow-thin-down:before {
  content: "\e900";
}
.icon-arrow-thin-up:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-downp-left:before {
  content: "\e903";
}
.icon-facebook-black:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
  color: #898989;
}
.icon-flag-black:before {
  content: "\e906";
}
.icon-heart-black .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
}
.icon-heart-black .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(22, 22, 22);
}
.icon-heart:before {
  content: "\e90a";
  color: #718198;
}
.icon-ic-options-filter:before {
  content: "\e90c";
}
.icon-rectangle-default:before {
  content: "\e910";
}
.icon-twitter-black:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
  color: #898989;
}
.icon-youtube-black .path1:before {
  content: "\e916";
  color: rgb(22, 22, 22);
}
.icon-youtube-black .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube .path1:before {
  content: "\e918";
  color: rgb(137, 137, 137);
}
.icon-youtube .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
