.link-hover{
    display: block;
    background-image: linear-gradient(transparent calc(100% - 2px),#161616 2px);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all .6s ease,-webkit-transform .6s ease;
    &:hover{
        background-size: 100% 100%;
    }
}