// Define variable color

$white: #fff;
$white-20: rgba(230, 163, 163, 0.2);
$gray: #f4f4f4;
$gray-100: #a8a8a8;
$gray-200: #e5e5e5;

$black: #000;
$black-200: #131313;
$black-300: #161616;


$breakpoint:(
  'xxs': 359px,
  'xs': 576px, //X-Small devices (portrait phones, less than 576px)
  'sm': 768px, // Small devices (landscape phones, less than 768px)
  'md': 992px, // Medium devices (tablets, less than 992px)
  'lg': 1200px, // Large devices (desktops, less than 1200px)
  'xl': 1400px // X-Large devices (large desktops, less than 1400px)
) !default;

$grid-breakpoints: (
  none: 0,
  xl: 1400px,
  lg: 1200px,
  md: 992px,
  sm: 768px,
  xs: 576px,
) !default;
$grid-breakpoints-mb: (
  none: 0,
  lg: 1200px,
  md: 992px,
  sm: 768px,
  xs: 576px,
  // xxs: 360px
) !default;
//Grid Columns
// $grid-columns: 12 !default; //12 column desktop
// $grid-gutter-width: 24px !default;
// $grid-row-columns: 6 !default; //6 column mobile

//enabling or disabling option features.
$enable-grid-classes: true !default;
$enable-rounded: true !default;
$enable-gradients: false !default;