$color-lv2: #757575;

%flex-center {
    display: flex;
    align-items: center;
}
.f-w-700 {
    font-weight: 700;
}

.page__header {
    padding-top: 4.2rem;
    &-top {
        @extend %flex-center;
        justify-content: space-between;
        padding: 0.8rem 0;
    }

    &-left {
        max-width: 19.4rem;
    }

    &-right {
        @extend %flex-center;
        flex: 1;
        justify-content: flex-end;
        &--item {
            height: 100%;
            &:not(:last-child) {
                margin-right: 2.4rem;
            }
        }
        .form__user {
            @extend %flex-center;
            .line-vertical {
                display: block;
                height: 16px;
                width: 1px;
                background: $black;
                margin: auto 8px;
            }
            &-item a {
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
            @include breakpoints("md") {
                &-item,
                .line-vertical {
                    @extend .hidden-mobile;
                }
            }
        }
    }

    .form-search {
        max-width: 22.4rem;
        @media (max-width: 992px) {
            .form-input {
                &-search {
                    display: none;
                }
            }
        }
    }

    .list__social {
        ul {
            @extend %flex-center;
        }
        .social-item {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
        @media (max-width: 992px) {
            .social-item {
                &:first-child,
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .btn-form-search {
        @include breakpoints("md") {
            position: relative;
            top: 0;
            left: 0;
        }
    }
    &-nav{
        @include breakpoints("md") {
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            padding: 0 16px;
        }
    }
}

.page__nav {
    $lv1: ".page__nav-dropdown";
    &-dropdown {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        background: $white;

        padding: 3.2rem 0 14.4rem;

        display: none;
        overflow: hidden;
        @include breakpoints("md") {
            position: relative;
        }
    }
    &-list {
        @extend %flex-center;
        justify-content: center;
        padding: 2.1rem 0;
        margin: 0 -2.8rem;
        * {
            @include fontSize(700, 1.8rem, 2rem);
        }
        @include breakpoints("md") {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            padding: 0;
        }
    }
    &-item {
        padding: 0 2.8rem;
        cursor: pointer;
        &:hover {
            #{$lv1} {
                display: block;
            }
        }
        @include breakpoints("md") {
            padding: 0;
        }
    }
    &-link {
        @extend .txt-uppercase;
        padding-bottom: 1.9rem;
        @include breakpoints("md") {
            padding-bottom: 2.5rem;
        }
    }
    &-lv1 {
        max-width: 1128px;
        margin: auto;
        padding: 0 2rem;
        &--item {
            display: flex;
            margin: 0 -1.6rem;
        }
        @include breakpoints("md") {
            &--item {
                flex-wrap: wrap;
            }
        }
    }
    &-lv2 {
        max-width: calc(100% / 4);
        flex-basis: calc(100% / 4);
        padding: 0 1.6rem;
        &--title {
            margin-bottom: 2.4rem;
        }
        @include breakpoints("md") {
            max-width: 100%;
            flex-basis: 100%;
        }
    }

}
.page__nav-lv2 {
    &--item {
        a {
            color: $color-lv2;
            @include fontSize(700, 1.6rem, 1.8rem);
        }
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}

// MOBILE
.nav__app {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $white;
    &-item {
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }
    &-link {
        letter-spacing: 0.0015em;
        color: $black;
        @include fontSize(700, 2rem, 2.2rem);
    }
}
