$color-lv2: #757575;

%flex-center {
    display: flex;
    align-items: center;
}
.f-w-700 {
    font-weight: 700;
}
body {
    overflow-x: hidden;
}
.page__header {
    position: relative;
    z-index: 9;
    &-inner {
        background: #fff;
        padding-top: 4.2rem;
        @include breakpoints("md") {
            padding: 1.6rem 0;
            position: unset;
        }
    }
    &-top {
        @extend %flex-center;
        justify-content: space-between;
        padding: 0.8rem 0;
        @include breakpoints("md") {
            padding: 0;
        }
    }

    &-left {
        max-width: 19.4rem;
        &--mobile {
            display: none;
        }
        @include breakpoints("md") {
            max-width: 11.2rem;
            width: 100%;

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &--mobile {
                display: block;
            }
        }
    }

    &-right {
        @extend %flex-center;
        flex: 1;
        justify-content: flex-end;
        &--item {
            height: 100%;
            &:not(:last-child) {
                margin-right: 2.4rem;
            }
            @include breakpoints("md") {
                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
        .form__user {
            @extend %flex-center;
            .line-vertical {
                display: block;
                height: 1.6rem;
                width: 0.1rem;
                background: $black;
                margin: auto 0.8rem;
            }
            &-item a {
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
            @include breakpoints("md") {
                &-item,
                .line-vertical {
                    @extend .hidden-mobile;
                }
            }
        }
    }

    .form-search {
        max-width: 22.4rem;
        @media (max-width: 992px) {
            position: absolute;
            left: 6rem;
            height: auto;
            margin-right: 0;
            .form-input {
                &-search {
                    display: none;
                }
            }
        }
    }

    .list__social {
        ul {
            @extend %flex-center;
        }
        .social-item {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }
            .ic-label {
                font-family: "Manrope", Arial, Helvetica, sans-serif;
            }
        }
        &-mb {
            display: none;
        }
        @media (max-width: 992px) {
            .social-item {
                // &:first-child,
                &:not(:last-child) {
                    margin-right: 2rem;
                }
                &:first-child {
                    max-width: 2.2rem;
                }
                &:last-child {
                    display: none;
                }
                &:nth-child(2) {
                    max-width: 24px;
                    margin-right: 0;
                    img{
                        width: 100%;
                    }
                }
            }

            &.list__social-mb {
                display: block;
                margin: 2.3rem 0 5rem;
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .social-item {
                    margin-right: 0;
                    width: 100%;
                    max-width: 100%;
                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                    }
                    &:last-child {
                        display: block;
                    }
                    .ic-picture {
                        margin-right: 0.8rem;
                        max-width: 24px;
                    }
                    .ic-label {
                        @include fontSize(700, 1.4rem, 1.8rem);
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    .btn-form-search {
        @include breakpoints("md") {
            position: relative;
            top: 0;
            left: 0;
            max-width: 20px;
            &:focus,
            &:active,
            &:hover,
            &:focus-visible {
                outline: none;
            }
        }
    }
    &-nav {
        @include breakpoints("md") {
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            z-index: 999999;
            &--inner {
                width: calc(100% - 8.5rem);
                height: inherit;
                background: $white;
                padding: 0 16px;
                position: relative;
            }
            .container {
                padding: 0;
                height: 100%;
            }
        }
    }
    &-logo {
        picture {
        }
        @include breakpoints("md") {
            picture {
                @include aspect-ratio(165, 31, 0);
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    @include breakpoints("md") {
        padding: 1.6rem 0;
        position: unset;
        border-bottom: 1px solid #f6f6f6;
    }
}

.page__nav {
    $lv1: ".page__nav-dropdown";
    &-icon {
        position: absolute;
        right: 0;
        top: 0;
        @include breakpoints("md") {
            z-index: 2;
            width: 3rem;
            text-align: right;
            .back {
                display: none;
            }
            .icon-chevron-down {
                @include fontSize(normal, 2rem, 1);
            }
        }
    }
    &-dropdown {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        background: $white;

        padding: 3.2rem 0 14.4rem;

        display: none;
        overflow: hidden;
        @include breakpoints("md") {
            position: relative;
        }
    }
    &-list {
        @extend %flex-center;
        justify-content: center;
        padding: 2.1rem 0;
        margin: 0 -2.8rem;
        * {
            @include fontSize(700, 1.8rem, 2rem);
        }
        @include breakpoints("md") {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            // padding-top: 97px;
        }
    }
    &-item {
        padding: 0 2.8rem;
        cursor: pointer;

        @media (min-width: 992px) {
            &:hover {
                #{$lv1} {
                    display: block;
                    z-index: 1;
                }
                .page__nav-link {
                    background-size: 100% 100%;
                }
            }
        }
        @include breakpoints("md") {
            padding: 0;
            width: 100%;
            position: relative;
        }
    }
    &-link {
        @extend .txt-uppercase;
        padding-bottom: 1.9rem;

        background-image: linear-gradient(transparent calc(100% - 2px), #161616 2px);
        background-size: 0 100%;
        background-repeat: no-repeat;
        transition: all 0.6s ease, -webkit-transform 0.6s ease;
        position: relative;
        z-index: 2;
        @include breakpoints("md") {
            padding: 0 3rem 2.5rem 0;
            display: block;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.0015em;
        }
    }
    &-lv1 {
        max-width: 1128px;
        margin: auto;
        padding: 0 2rem;
        &--item {
            display: flex;
            margin: 0 -1.6rem;
            flex-wrap: wrap;
        }
        @include breakpoints("md") {
            &--item {
                // flex-wrap: wrap;
            }
        }
    }
    &-lv2 {
        max-width: calc(100% / 4);
        flex-basis: calc(100% / 4);
        padding: 0 1.6rem;
        margin-bottom: 2rem;
        &--title {
            margin-bottom: 2.4rem;
        }
        @include breakpoints("md") {
            max-width: 100%;
            flex-basis: 100%;
        }
    }
}
.page__nav-lv2 {
    &--item {
        a {
            color: $color-lv2;
            @include fontSize(700, 1.6rem, 1.8rem);
        }
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}

.open-main-nav {
    display: none;
    @include breakpoints("md") {
        position: relative;
        z-index: 1;
        background: none;
        border: 0;
        padding: 0;
        cursor: pointer;
        display: block;
        width: 2rem;
        height: 2rem;
        top: -0.4rem;
        .burger {
            position: absolute;
            display: block;
            width: 100%;
            height: 0.2rem;
            margin: 0 auto;
            background: $black;
            transform: skew(0);
            transition: all 0.275s;
            padding: 0;
            bottom: 0;
            right: 0;
            border-radius: 10000px;
            &:after,
            &:before {
                content: "";
                display: block;
                height: 100%;
                background: $black;
                transition: all 0.275s;
                margin-left: auto;
                border-radius: 10000px;
            }
            &:after {
                transform: translateY(-0.75rem) translateX(0rem) skew(0);
                width: 1.35rem;
            }
            &:before {
                transform: translateY(-1.1rem) translateX(0rem) skew(0);
            }
        }
        &.is-open {
            background: #f6f6f6;
            width: 40px;
            height: 40px;
            border-radius: 1000px;

            .burger {
                transform: skew(0) translate(-50%, -50%) rotate(-44deg);
                width: 21px;
                top: 50%;
                left: 50%;
                &:after {
                    transform: translateY(-12px) translateX(10px) skew(-20deg);
                    opacity: 0;
                }
                &:before {
                    transform: translateY(0px) skew(-10deg) rotate(75deg);
                }
            }

            &.block-profile {
                z-index: 11;
            }
        }
    }
}
// MOBILE
.page__header-left {
    &--mobile {
        &.is-open {
            transform: translateY(0);
            position: absolute;
            right: calc(100% - 8.5rem);
            top: 2.4rem;
            z-index: 1;
        }
    }
}
.nav-mobile {
    .page__profile {
        display: none;
    }
    @include breakpoints("md") {
        transition: all 0.375s;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        &.is-expand {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .page__profile {
            display: block;
            a {
                display: flex;
                align-items: center;
            }
            picture {
                margin-right: 0.8rem;
            }
            .label-name {
                @include fontSize(700, 1.4rem, 1.8rem);
                text-transform: capitalize;
            }
        }
    }
}
.page__header-burger {
    @extend .hide;
    @include breakpoints("md") {
        padding: 24px 0 43px;
        display: block;
        .is-open {
            margin-left: auto;
        }
    }
}
.page__nav-item {
    @include breakpoints("md") {
        &.expand {
            position: absolute;
            left: 0;
            top: 0;
            background: $white;
            z-index: 10;
            height: 100%;
            overflow: auto;
            // padding-top: 8.4rem;
            .page__nav-dropdown {
                display: block;
                padding: 0;
                // height: inherit;
                // overflow: inherit;
            }
            .page__nav-icon {
                display: flex;
                align-items: center;
                padding: 2.4rem 1.6rem 0 0;
                z-index: 3;
                position: fixed;
                right: 8.5rem;
                width: auto;
                .back {
                    display: block;
                    padding-right: 1.5rem;
                    @include fontSize(inherit, 1.4rem, 1.8rem);
                }
                .icon-chevron-down {
                    font-size: 12px;
                }
            }
            .page__nav-link {
                padding: 8.4rem 1.6rem 3.2rem;
                position: sticky;
                top: 0;
                background: $white;
                z-index: 1;
            }
            .page__nav-lv1 {
                &--item {
                    margin: 0;
                    padding-bottom: 3.2rem;
                }
            }
            .page__nav-lv2 {
                padding: 0;
                &:not(:last-child) {
                    margin-bottom: 32px;
                }
                &--title {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 2rem;
                }
                &--item {
                    a {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
.disable-scroll {
    overflow: hidden;
}
.header__desc-mb,
.header__login-mb {
    display: none;
    @include breakpoints("md") {
        display: block;
    }
}
.header__desc-mb {
    @include breakpoints("md") {
        margin-bottom: 2.4rem;
        p {
            @include fontSize(700, 1.4rem, 1.8rem);
            color: #898989;
        }
    }
}
.header__login-mb {
    @include breakpoints("md") {
        .btn {
            border: none;
            background: #161616;
            padding: 0.8rem 1.6rem;
            border: 1px solid #161616;

            span {
                @include fontSize(600, 1.2rem, 1.65rem);
                text-transform: capitalize;
                font-family: "Manrope", Arial, Helvetica, sans-serif;
            }

            &-regist {
                margin-right: 0.8rem;
            }
            &-login {
                background: transparent;
                span {
                    color: #161616;
                }
            }
        }
    }
}
@include breakpoints("md") {
    .page__profile {
        $nav: ".page__nav";
        .page__nav {
            &-lv1 {
                padding: 0 !important;
                &--item {
                    padding: 0 !important;
                }
                #{$nav} {
                    &-link {
                        padding: 1.6rem;
                        @include fontSize(700, 1.6rem, 1.8rem);
                        width: 100%;
                        color: #898989;
                        text-transform: initial;
                    }
                }
            }
            &-icon {
                top: 0.8rem;
            }
        }
        &.expand {
            // @debug #{$nav}-icon;
            #{$nav}-icon {
                position: absolute;
                padding-top: 8.4rem;
                right: 0;
                .back {
                    display: none;
                }
                i.icon-chevron-down {
                    font-size: 1.8rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
.over-suggest {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    z-index: 8;
    &.open {
        opacity: 1;
        visibility: visible;
    }
}
.popup {
    position: absolute;
    top: 102px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.8);
    z-index: 9;

    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
    }

    &-close {
        position: absolute;
        top: 24px;
        right: 24px;
        display: block;
        width: 24px;
        height: 24px;
        font-size: 0;
        cursor: pointer;
        &:after,
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px;
            height: 20px;
            background-color: #000000;
            transform: rotate(45deg) translate(-50%, -50%);
            transform-origin: top left;
            transition: all 420ms;
            content: "";
        }
        &:after {
            transform: rotate(-45deg) translate(-50%, -50%);
        }
        @include breakpoints("md") {
            top: 16px;
            right: 16px;
        }
    }
    &-wrap {
        position: relative;
        z-index: 1;
        background: $white;
        padding: 24px;
        max-width: 528px;
        margin-left: auto;
    }
    &-head {
        margin-bottom: 24px;
        &-ic {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
        }
        .ic-tick {
            position: relative;
            width: 12px;
            height: 12px;
            background: #42882b;
            display: inline-block;
            border-radius: 1000px;
            margin-right: 8px;
            &:before {
                content: "";
                position: absolute;
                right: 0;
                left: 4px;
                top: 1.5px;
                display: inline-block;
                transform: rotate(45deg);
                height: 7px;
                width: 4px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
            }
        }
    }
    .p-product {
        display: flex;
        &-name {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: #000000;
            margin-bottom: 12px;
            @include breakpoints("md") {
                margin-bottom: 8px;
            }
        }
        &-picture {
            max-width: 88px;
            width: 100%;
            margin-right: 24px;
            @include breakpoints("md") {
                max-width: 80px;
                margin-right: 12px;
            }
        }
        &-info {
            flex: 1;
        }
        .group-label {
            * {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #898989;
            }
            &-item {
                margin-bottom: 12px;
            }
            @include breakpoints("md") {
                margin-bottom: 4px;
                * {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                }
                &-item {
                    margin-bottom: 4px;
                }
            }
        }
        .group-prices {
            margin-bottom: 5px;
            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: #161616;
            }
            .price {
                color: #898989;
                margin-left: 28px;
            }
            @include breakpoints("md") {
                margin-bottom: 16px;
                * {
                    display: block;
                }
                .price-sale {
                    margin-bottom: 4px;
                }
                .price {
                    margin-left: 0;
                }
            }
        }
    }
    .group-btn {
        display: flex;
        gap: 8px;
        padding: 23.75px 0;
        padding-left: 112px;
        .btn {
            font-size: 14px;
            line-height: 18px;
            padding: 14.75px 16px;
            width: 168px;
            font-weight: 700;
            &-cart {
                background: #ffffff;
                border: 1px solid #cccccc;
                color: #131313;
            }
            .count {
                font-weight: 700;
            }
        }
        @include breakpoints("md") {
            padding-left: 0;
            .btn {
                width: 100%;
            }
        }
    }
    @include breakpoints("md") {
        top: 0;
        .container {
            padding: 0;
        }
        &-wrap {
            position: relative;
            z-index: 1;
            background: $white;
            padding: 16px 16px 0;
            max-width: 528px;
            margin-left: auto;
        }
    }
}
.search-suggest-box{
    display: none;
}
@media (max-width: 992px){
    .search-suggest {
        &-box {
            display: block;
            position: absolute;
            z-index: 9;
            top: 0;
            left: 0;
            right: 0;
            background: $white;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            opacity: 0;
            visibility: hidden;
            transition: all .3;
            .btn-ic-close {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: #f4f4f4;
                border-radius: 1000px;
                position: absolute;
                right: 0;
            }
            &.open{
                opacity: 1;
                visibility: visible;
            }
        }
        &-inner {
            padding: 16px 24px;
            .form-group {
                input {
                    border-radius: 20px;
                    padding: 11px 8px 11px 43px;
                    outline: none;
                    max-width: calc(100% - 48px);
                }
                .btn-form-search {
                    position: absolute;
                    max-width: 24px;
                    left: 11px;
                }
            }
        }
        &-result {
            padding-top: 16px;
        }
    }
    .search-suggest-box {
        .result-mess {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #898989;
            margin-bottom: 8px;
        }
        .result-list {
            &-item {
                a {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                }
            }
        }
    }
}
